@model IEnumerable<Thos_project.Models.Category>

<h2>Kategori Listesi</h2>

<table class="table">
    <thead>
        <tr>
            <th>Kategori Adı</th>
            <th>Aksiyonlar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryName</td>
                <td>
                    @Html.ActionLink("Düzenle", "Edit", new { id = item.CategoryId }) |
                    @Html.ActionLink("Sil", "Delete", new { id = item.CategoryId })
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("Yeni Kategori Ekle", "Create")